:root{
    --accent-color: #2196F3;
    --text-color: #757575;
    --title-color: #212121;
   
}

body{
    color:var(--text-color);
    background-color:#F5F5F5 ;
    font-family:'Roboto',sans-serif;
    font-weight: 400;
font-size: 14px;
line-height:1.71;
letter-spacing: 0.03em;
}
a{
    text-decoration: none;
}
ul{
  list-style: none;
}

 /* < !-- навігація --> */

header{
    background-color: #FFFFFF;
}
.logo{
    color: var(--accent-color);
font-family: 'Raleway';
        font-weight: 700;
        font-style:inherit;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: inherit;
}
.logo-header{
    color: #000000;
}
.logo-foot{
    color: #FFFFFf;
}

.nav-link, .nav-contacts{
   font-family: inherit;
   font-style: inherit;
color:var(--title-color);
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}
.nav-link:hover,.nav-contacts:hover,.nav-link:focus,
.nav-contacts:focus,.footer-link:hover,.footer-link:focus{
    color: var(--accent-color);
}

.nav-contacts{
    color: var(--text-color);
}
  /* < !-- секція з кнопкою --> */
  .hero{
    background-color: #2F303A;
  }
  .hero-title{
    font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
    
  }
  .hero-button{
    background-color:var(--accent-color) ;
    color: #FFFFFF;

    font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
  }
  .hero-button:hover{
    color:#188CE8 ;
    color: #FFFFFF;
  }
.hero-button,.portfolio-buttons{
  cursor:pointer;
}


  /* < !-- Особливості --> */
  .our-benefits,.our-work{
    background-color:inherit
  }

  .benefits{
    display: none;
  }
.benefits-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
  .work-title,.team-title{
    color:var(--title-color);
    font-weight: 700;
        font-size: 36px;
        line-height:1.16;
  }
/* < !-- Наша команда --> */
.our-team{
    background-color: #F5F4FA;;
}
.name{
    font-weight: 500;
        font-size: 16px;
        line-height:1.18;
        color: var(--title-color);
       
}

        /* footer */
  footer {
      background-color: #2F303A;
  }

  .address {

      color: #FFFFFF;

  }

  .footer-link {

      color: rgba(255, 255, 255, 0.6);
  }   

  /* Портфоліо */
  .portfolio{
  background-color: inherit;
  }
  .hidden-title{
    display: none;
  }


  .portfolio-buttons{
    font-family: inherit;
        font-style: 400;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing:0.03em;
        color: var(--title-color);
        background-color:#F5F4FA;
  }
  .portfolio-buttons:hover,.portfolio-buttons:focus{
    color: #FFFFFF;
    background-color: var(--accent-color);
  }


  
    /* portfolio link img */

.portfolio-link{
  color: inherit;
  font-size: 16px;
  line-height: 1.8;
 
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  color: var(--title-color);
}